{% extends 'base.html' %}
{% load bootstrap3 %}

{% block contactform %}

<div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog modal-fullscreen-md-down modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Оставить заявку:</h5>
        <div class="button">
            <a class="btn" data-bs-dismiss="modal" aria-label="Закрыть">Закрыть</a>
        </div>
      </div>
      <div class="modal-body">
  <form class="" action="{% url 'blog:contact' %}" method="post">
    {% csrf_token %}>
{#    {% bootstrap_form form %}#}
    {{ form.non_field_errors }}
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">Фамилия</label>
                 {{ form.soname.errors }}
                {#	  {{ form.soname }}#}
              <input type="text" class="form-control" id="firstName" placeholder="Фамилия" required="" name="soname">
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Имя</label>
                 {{ form.name.errors }}
                {#	  {{ form.name }}#}
              <input type="text" class="form-control" id="lastName" placeholder="Имя" name="name" required="">
            </div>

            <div class="col-12">
              <label for="username" class="form-label">Telegram</label>
                 {{ form.telegram.errors }}
                {#	  {{ form.telegram }}#}
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" id="username" placeholder="telegram" name="telegram" required="">
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email</label>
                 {{ form.email.errors }}
                {#	  {{ form.email }}#}
              <input type="email" class="form-control" id="email" placeholder="you@example.com" name="email" required="">
            </div>

            <div class="col-12">
              <label for="address" class="form-label">Компания <span class="text-muted">(Опционально)</span></label>
                 {{ form.partner.errors }}
                {#	  {{ form.partner }}#}
              <input type="text" class="form-control" id="address" placeholder="Моя компания" name="partner">
            </div>

            <div class="col-md-5">
              <label for="country" class="form-label">Страна</label>
                 {{ form.country.errors }}
                {#	  {{ form.country }}#}
              <select class="form-select" id="country" required="" name="country">
                <option>Выбрать...</option>
                <option value="BY">Беларусь</option>
                <option value="RU">Россия</option>
                <option value="Unknown">другая...</option>
              </select>
            </div>

            <div class="col-md-7">
              <label for="telephone" class="form-label">Телефон</label>
                 {{ form.phone.errors }}
                {#	  {{ form.phone }}#}
              <div class="input-group has-validation">
                <span class="input-group-text">+</span>
                <input type="text" class="form-control" id="telephone" placeholder="375001234567" name="phone" required="">
              </div>
            </div>

            <div class="col-12">
              <label for="state" class="form-label">Тариф</label>
                 {{ form.tarif.errors }}
                {#	  {{ form.tarif }}#}
              <select class="form-select" id="state" required="" name="tarif">
                <option>Выбрать...</option>
                <option value="Месячный">Месячный</option>
                <option value="Стандартный">Стандартный</option>
                <option value="Командный">Командный</option>
              </select>
            </div>

            <div class="col-12">
              <label for="zip" class="form-label">Напишите свой вопрос</label>
                 {{ form.message.errors }}
                {#	  {{ form.message }}#}
              <textaria rows="5" class="form-control" id="zip" placeholder="Комментарий, пожелания" style="height:164px;" required="" name="message"></textaria>
            </div>
          </div>
	  {{ form.copy.errors }}
	  <label for="id_copy" class="d-none">{{ form.copy }} Отправить копию себе </label>
          <hr class="my-4">

            <div class="button">
                <input type="submit" class="btn w-100" value="Отправить"/>
            </div>
        </form>

        </div>
    </div>
  </div>
</div>


{% endblock %}